@import "../../scss/global.scss";

body,
html,
#app {
  width: 100vw;
  height: 100vh;
}

.layout-empty {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  background-color: #363e47;
}
