<main class="layout-base">
{{#if blocks.left}}
<div class="layout-base__item layout-base__left">
  {{> left}}
</div>
{{/if}}
{{#if blocks.center}}
<div class="layout-base__item layout-base__center">
  {{> center}}
</div>
{{/if}}
{{#if blocks.right}}
<div class="layout-base__item layout-base__right">
  {{> right}}
</div>
{{/if}}
</main>