<div class="messager">
  <div class="messager__header">{{component "messagerContact" components}}</div>
  <div class="messager__content">{{component "messagerList" components}}</div>
  <div class="messager__footer">{{component "messagerForm" components}}</div>
</div>
