<div class="messager">
  <div class="messager__header">{{> messagerContact contact}}</div>
  <div class="messager__content">{{> messagerList list}}</div>
  <div class="messager__footer">{{> messagerForm }}</div>
</div>