<div class="profileContent">
  <div class="profileContent__avatar">
    {{> avatar link=avatar size=192}}
  </div>
  <div class="profileContent__name">{{data.firstName}}</div>
  <div class="profileContent__info">
    {{> info data}}
  </div>
</div>