<main class="layout-settings">
  <div class="layout-settings__item layout-settings__left">
    {{> left}}
  </div>
  <div class="layout-settings__item layout-settings__right">
    {{> right}}
  </div>
</main>