@import "../../scss/global.scss";

body,
html,
#app {
  width: 100vw;
  height: 100vh;
}

.layout-settings {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 1200px;

  &__item {
    height: 100%;
    overflow-y: auto;
  }

  &__left {
    flex-basis: 96px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__right {
    flex-basis: 1444px;
    flex-grow: 1;
    flex-shrink: 4;
  }
}
