<div class="controls">
  <div class="controls__top">
    {{component "top" components}}
  </div>
  <div class="controls__center">
    {{componentList "center" components}}
  </div>
  <div class="conrols__botton">
    {{component "bottom" components}}
  </div>
</div>
