<div class="controls">
  <div class="controls__top">
    {{component "top" components}}
  </div>
  <div class="controls__center">
    {{#each components.center}}
      {{component @key ../components/center}}
    {{/each}}
  </div>
  <div class="conrols__botton">
    {{component "bottom" components}}
  </div>
</div>
