<div class="error-page">
  <div class="error-page__code">{{code}}</div>
  <div class="error-page__message">{{message}}</div>
  <a class="error-page__link" href={{returnLink.link}}>{{returnLink.text}}</a>
</div>