<div class="messager-contact">
  <div class="messager-contact__avatar">
    {{> avatar link=this.avatar size=64}}
  </div>
  <div class="messager-contact__nick">
    {{nickName}}
  </div>
    <button class="messager-contact__action-button">
</div>