<div class="messager-contact">
  <div class="messager-contact__avatar">
    {{ component 'avatar' components}}
  </div>
  <div class="messager-contact__nick">
    {{nickName}}
  </div>
    <button class="messager-contact__action-button">
</div>
