{{#> baseLayout}}
  {{#*inline "left"}}
    {{component 'controls' components}}
  {{/inline}}
  {{#*inline "center"}}
    {{component 'contacts' components}}
  {{/inline}}
  {{#*inline "right"}}
    <div class="change-chat__empty">
      <div class="change-chat__message">{{message}}</div>
    </div>
  {{/inline}}
{{/baseLayout}}
