.edit-info {
  width: 544px;
  padding: 8px 16px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    border-bottom: 1px solid #c4ced9;
    margin-bottom: 8px;
    line-height: 24px;
  }

  &__key {
    color: #444e59;
  }

  &__value {
    position: relative;

    &::after {
      content: attr(data-error-text);
      position: absolute;
      top: 0;
      left: calc(100% + 8px);
      color: #ff2f2f;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      display: none;
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--error {
      &::after {
        display: block;
      }
    }
  }

  &__field {
    border: none;
    outline: none;
    background: none;
    font-family: Roboto;
    font-size: 16px;
    text-align: right;
    color: #76828c;
    font-weight: 400;
  }

  &__submit-button {
    width: 240px;
    height: 48px;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: #54d38a;
    color: #ffffff;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    align-self: center;
  }
}
