<div class="messager-form">
  <form data-component-name="message-form">
    <button class="messager-form__attach-button" type="button"></button>
    <div class="messager-form__field-wrapper">
      <input
        class="messager-form__field"
        placeholder="Сообщение"
        name="message"
      /></div>
    <button class="messager-form__submit-button" type="submit"></button>
  </form>
</div>