<div class="messager-form">
  <form data-component-name="message-form">
    <button class="messager-form__attach-button" type="button"></button>
    <input
      class="messager-form__field"
      placeholder="Сообщение"
      name="message"
    />
    <button class="messager-form__submit-button" type="submit"></button>
  </form>
</div>