<div class="contacts">
  <div class="contacts__header">
    {{component "search" components}}
  </div>
  <div class="contacts__content">
    <ul class="contacts__list">
      {{#each components.contacts}}
        <li class="contacts__item">
          <a href="/{{../type}}.html" class="contacts__link">
            {{component @key ../components/contacts}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
