{{#if line}}
  {{> line}}
{{/if}}
{{#if inc}}
  <div class="message__wrapper">{{> message class='inc'}}</div>
{{/if}}
{{#if out}}
  <div class="message__wrapper">{{> message class='out'}}</div>
{{/if}}